<meta charset="utf-8">
<title>myLib demo</title>

<!-- Load Vue-->
<script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
<!--Load the web component polyfill-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.2.0/webcomponents-loader.js"></script>
<!-- Load the custom tag Library -->
<script src="./youtubePlaylist.umd.js"></script>

<link rel="stylesheet" href="./youtubePlaylist.css">

<div id="app">
  <youtube-playlist
    playlist-id="PLLYgCCZBPRXvc2SK4FLY16JNrIgioJWcq"
    videos-to-show="5"
    api-key="AIzaSyByPn2j7LukweGqORg_RV6NHOYJipNelR0"
    show-youtube-link="true"></youtube-playlist>
</div>

<script>
new Vue({
  components: {
    youtubePlaylist: youtubePlaylist
  }
}).$mount('#app')
</script>
