<head>
	<title>youtube-playlist demo</title>
<script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
<script src="./youtube-playlist.min.js"></script>
</head><meta charset="utf-8">
<style>
	youtube-playlist {
		width: 1024px;
    display: block;
    overflow: hidden;
	}
	.youtube-playlist {
		width: 100%;
		overflow: hidden;
	}
	
	.youtube-playlist * {
		box-sizing: border-box;
	}
	
	.youtube-playlist a {
		text-decoration: none;
		color: #333;
	}
	.youtube-playlist a:hover {
		border-bottom: 1px solid cyan;
		color: darkblue;
	}
	.youtube-playlist .youtube-playlist {
		display: block;
		width: 1024px;
		padding: 1rem;
		background-color: #ffffff;
		border: 1px solid green;
	}
	
	.youtube-playlist .youtube-playlist__link {
		margin-top: 1rem;
	}
	
	.youtube-playlist .teaser--vue-youtube-video {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin-bottom: 1rem;
		border-bottom: 1px solid #dedede;
		padding-bottom: .5em;
	}
	
	.youtube-playlist .teaser__image {
		width: 25%;
		padding-right: 1rem;
	}
	
	.youtube-playlist .teaser__image img {
		width: 100%;
		height: auto;
	}
	
	.youtube-playlist .teaser__main {
		width: 75%;
		padding-left: 1rem;
	}
	
	.youtube-playlist .teaser__title {
		margin: 0 0 .5em 0;
		font-size: 20px;
	}
	
	.youtube-playlist .teaser__body {
		line-height: 1.2em;
	
	}
</style>
<body>
	<youtube-playlist
    playlist-id="PLLYgCCZBPRXvc2SK4FLY16JNrIgioJWcq"
    videos-to-show="5"
    api-key="AIzaSyByPn2j7LukweGqORg_RV6NHOYJipNelR0"
    show-youtube-link="true"></youtube-playlist>

</body>
	