<template>
   <youtube-playlist
    playlist-id="PLLYgCCZBPRXvc2SK4FLY16JNrIgioJWcq"
    videos-to-show="4"
    api-key="AIzaSyByPn2j7LukweGqORg_RV6NHOYJipNelR0"
    ></youtube-playlist>
</template>

<script>
import YoutubePlaylist from '@/components/YoutubePlaylist'

export default {
  name: 'App',
  components: {
    YoutubePlaylist
  }
}
</script>
