<template>
  <article class="teaser teaser--vue-youtube-video" :youtube-video-id="this.videoItem.snippet.resourceId.videoId">
    <div class="teaser__image">
      <img :src="videoItem.snippet.thumbnails.high.url"/>
    </div>
    <div class="teaser__main">
      <header class="teaser__header">
        <h2 class="teaser__title">
          <a :href="videoLink" target="_blank">
          {{videoItem.snippet.title}}
          </a>
        </h2>
      </header>
      <div class="teaser__body" v-html="videoItem.snippet.description"></div>
    </div>
  </article>
</template>

<script>
export default {
  name: 'VideoListItem',
  props: {
    videoItem: Object,
    playlistId: String
  },
  computed: {
    videoLink () {
      return 'https://www.youtube.com/watch?v=' + this.videoItem.snippet.resourceId.videoId + '&list=' + this.playlistId
    }
  }
}
</script>
