<template>
  <div :id='displayId' class="youtube-playlist" :playlist-id='playlistId'>
    <video-list-item v-for="video in videoListSlice" :key="video.id" :playlist-id="playlistId" :video-item="video">
      <slot></slot>
    </video-list-item>
    <div class="youtube-playlist__link" v-if="showPlaylistLink">
      <a :href="playlistLink" target="_blank">Showing {{ videosToShow }} of the available {{ videoList.length }} videos. See the full playlist on YouTube.</a>
    </div>
    <div class="youtube-playlist__error" v-if="showErrorMessage">
    <h3>An error has occured</h3>
      <span>message: {{ errorMessage.message }}</span>&nbsp;<span>reason: {{ errorMessage.reason }}</span>
    </div>
  </div>
</template>

<script>
import VideoListItem from '@/components/VideoListItem'
import axios from 'axios'
// import sourceData from '@/data'

export default {
  name: 'YoutubePlaylist',
  props: {
    playlistId: String,
    videosToShow: String,
    apiKey: String
  },
  components: {
    VideoListItem
  },
  data () {
    return {
      videoList: [],
      errorMessage: Object,
      showErrorMessage: false
    }
  },
  computed: {
    playlistLink () {
      return 'https://www.youtube.com/playlist?list=' + this.playlistId
    },
    apiURL () {
      return 'https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&maxResults=50&playlistId=' + this.playlistId + '&key=' + this.apiKey
    },
    videoListSlice () {
      if (this.videosToShow > 0) {
        let videoSlice = this.videoList.slice(0, this.videosToShow)
        return videoSlice
      } else {
        return this.videoList
      }
    },
    displayId () {
      return 'youtube-playlist-' + this.playlistId
    },
    showPlaylistLink () {
      if (this.videosToShow < this.videoList.length) {
        return true
      } else {
        return false
      }
    }
  },
  mounted () {
    axios
      .get(this.apiURL)
      .then(response => {
        this.videoList = response.data.items
      })
      .catch(e => {
        this.errorMessage = e.response.data.error.errors[0]
        this.showErrorMessage = true
      })
  }
}
</script>

<style>
#app {
	width: 1024px;
	display: block;
	overflow: hidden;
}
.youtube-playlist {
	width: 100%;
	overflow: hidden;
}

.youtube-playlist * {
	box-sizing: border-box;
}

.youtube-playlist a {
	text-decoration: none;
	color: #333;
}
.youtube-playlist a:hover {
	border-bottom: 1px solid cyan;
	color: darkblue;
}
.youtube-playlist .youtube-playlist {
	display: block;
	width: 1024px;
	padding: 1rem;
	background-color: #ffffff;
	border: 1px solid green;
}

.youtube-playlist .youtube-playlist__link {
	margin-top: 1rem;
}

.youtube-playlist .teaser--vue-youtube-video {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-bottom: 1rem;
	border-bottom: 1px solid #dedede;
	padding-bottom: .5em;
}

.youtube-playlist .teaser__image {
	width: 25%;
	padding-right: 1rem;
}

.youtube-playlist .teaser__image img {
	width: 100%;
	height: auto;
}

.youtube-playlist .teaser__main {
	width: 75%;
	padding-left: 1rem;
}

.youtube-playlist .teaser__title {
	margin: 0 0 .5em 0;
	font-size: 20px;
}

.youtube-playlist .teaser__body {
  line-height: 1.2em;
}
</style>
